/* Custom Styles */
body {
    position: relative;
    height:100vh;
    width: auto;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s, color 0.5s;
    background-color: var(--bg-color);
   

    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg);
    transition: background-color 0.5s;
}

.navbar-brand, .nav-link {
    color: var(--text-color) !important;
}





.container{
  color: var(--text-color);
}

.card {
  width: 300px;
  height: 400px;
  background: none;
  margin-bottom: 20px;
  color: var(--text-color);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px var(--text-color); /* Soft initial box shadow */
}



.card:hover {
  transform: translateY(-10px); /* Move the card up slightly to give a 3D effect */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2); /* Softer, more pronounced shadow on hover */
  cursor: pointer;
}

.card {
  perspective: 1000px; /* Nécessaire pour les transformations 3D */
}

.card-img-top {
  transition: transform 0.5s; /* Transition pour une animation en douceur */
  transform-style: preserve-3d; /* Préserve la profondeur 3D */
}





.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

/* Dark Mode Styles */

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --navbar-bg: #f8f9fa;
}

[data-theme="dark"] {
    --bg-color: #181818;
    --text-color: #ffffff;
    --navbar-bg: #333333;
}


/* From Uiverse.io by andrew-demchenk0 */ 
.theme {
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--bg-color);
  border-radius: 100%;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.icon {
  position: absolute;
  top: calc(50% -13px);
  left: calc(50% -13px);
  width: 26px;
  height: 26px;
}

.icon.icon-moon {
  fill: var(--main-color);
}

.icon.icon-sun {
  stroke: var(--main-color);
  display: none;
}

.input:checked ~ .icon.icon-sun {
  display: block;
}

.input:checked ~ .icon.icon-moon {
  display: none;
}

.theme:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

/* animation */

.content {
    position: absolute;
    top: 26%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: inline;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
  }
  
  .content__container {
    display: flex;
    gap: 15px;
    font-weight: 600;
    overflow: inline;
    height: 40px;
    padding: 0 40px;
  }
  
  .content__container:before {
    content: '[';
    left: 0;
  }
  
  .content__container:after {
    content: ']';
    position: absolute;
    right: 0;
  }
  
  .content__container:before, .content__container:after {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .content__text {
    display: inline;
    float: left;
    margin: 0;
  }
  
  .content__container__list__item {
    margin-top: 0;
    padding-left: 40px;
    text-align: left;
    list-style: none;
    color: #40f6cf;
    size: 20px;
    -webkit-animation-name: change;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  .content__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
  }
  
  @-moz-keyframes opacity {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
  }
  
  @-o-keyframes opacity {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
  }
  
  @keyframes opacity {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
  }
  
  @-webkit-keyframes change {
    0%, 12.66%, 100% {transform: translate3d(0, 0, 0);}
    16.66%, 29.32% {transform: translate3d(0, -25%, 0);}
    33.32%, 45.98% {transform: translate3d(0, -50%, 0);}
    49.98%, 62.64% {transform: translate3d(0, -75%, 0);}
    66.64%, 79.3% {transform: translate3d(0, -50%, 0);}
    83.3%, 95.96% {transform: translate3d(0, -25%, 0);}
  }
  
  @-moz-keyframes change {
    0%, 12.66%, 100% {transform: translate3d(0, 0, 0);}
    16.66%, 29.32% {transform: translate3d(0, -25%, 0);}
    33.32%, 45.98% {transform: translate3d(0, -50%, 0);}
    49.98%, 62.64% {transform: translate3d(0, -75%, 0);}
    66.64%, 79.3% {transform: translate3d(0, -50%, 0);}
    83.3%, 95.96% {transform: translate3d(0, -25%, 0);}
  }
  
  @-o-keyframes change {
    0%, 12.66%, 100% {transform: translate3d(0, 0, 0);}
    16.66%, 29.32% {transform: translate3d(0, -25%, 0);}
    33.32%, 45.98% {transform: translate3d(0, -50%, 0);}
    49.98%, 62.64% {transform: translate3d(0, -75%, 0);}
    66.64%, 79.3% {transform: translate3d(0, -50%, 0);}
    83.3%, 95.96% {transform: translate3d(0, -25%, 0);}
  }
  
  @keyframes change {
    0%, 12.66%, 100% {transform: translate3d(0, 0, 0);}
    16.66%, 29.32% {transform: translate3d(0, -25%, 0);}
    33.32%, 45.98% {transform: translate3d(0, -50%, 0);}
    49.98%, 62.64% {transform: translate3d(0, -75%, 0);}
    66.64%, 79.3% {transform: translate3d(0, -50%, 0);}
    83.3%, 95.96% {transform: translate3d(0, -25%, 0);}
  }
  

  
  


  /* contact */

  .contact-btn{
      position: relative;
      margin: 0 auto;
      left: 50%; /* Place le centre de l'élément au milieu de la page */ 
      transform: translateX(-50%); /* Ramène l'élément lui-même de moitié de sa largeur pour le centrer */ 
      margin-top: 50px;
      margin-bottom: 50px;
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-flex;
      height: 48px;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    }

    .contact-link{
      color: #36395A;
      font-family: "JetBrains Mono",monospace;

    }
    
    .contact-btn:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .contact-btn:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .contact-btn:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
    }
  

  /* tv filter button*/

  /* From Uiverse.io by Spacious74 */ 

  .filter-tv{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 5px;
    top: 15%;
    width: 500px;
  }

  .filter-tv a{
    text-decoration: none;
    border-style: none;
  }


  /* From Uiverse.io by ShrinilDhorda */ 
.btn-filter {
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
}

.btn-filter:active {
  scale: 0.92;
}

.btn-filter:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}